.events {
    padding: 80px 20px;
    background-color: #ffffff;
  
    h2 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 40px;
      color: #000;
    }
  
    .eventCards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @media only screen and (max-width: 768px) {
        gap: 20px;
      }
    }
  
    .eventCard {
        width: 300px;
        height: 320px;
        background: black no-repeat center center; /* Replace with your image path */
       
        border-radius: 20px;
        position: relative;
        color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        .cardContent {
          background-size: cover;
          width: 100%;
          height: 180px;
            h3 {
              font-size: 1.5rem;
              margin-bottom: 10px;
              padding: 20px;
            }
        
            p {
              font-size: 1rem;
              line-height: 1.4;
              padding: 20px;
            }
          }
          .cardIcon {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            background-color: #FFF; /* You can adjust this color */
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: #000;
          }
          .plusIcon{
            transition: transform 0.6s ease-in-out;
            &:hover{
              transform: rotate(360deg);
            }
            // font-size: 24px;
            // background-color: #FFF;
            // border-radius: 50%;
            // padding: 8px;
            // cursor: pointer;
            // color: #000;
            // text-align: center;
          }
    }
  }
