.footerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  flex-wrap: wrap;
  padding: 30px;
}

.contactInfo {
  flex: 1;
  margin-right: 20px;
}

.contactInfo h3 {
  margin-bottom: 10px;
}

.contactInfo p {
  margin: 5px 0;
}

.contactInfo a {
  color: #ccc;
  text-decoration: none;
}

.contactInfo a:hover {
  color: #fff;
}

.footerSections {
  display: flex;
  flex: 3;
  justify-content: space-between;
  flex-wrap: wrap;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }
}

.footerSections div {
  flex: 1;
  margin-right: 20px;
}

.footerSections h4 {
  margin-bottom: 10px;
}

.footerSections ul {
  list-style: none;
  padding: 0;
}

.footerSections li {
  margin: 5px 0;
}

.footerSections a {
  color: #ccc;
  text-decoration: none;
}

.footerSections a:hover {
  color: #fff;
}

.socialLinks {
  display: flex;
  flex-direction: column;
}
.borderDiv{
  padding-top: 20px;
  border-bottom: 1px solid #FFF;
  width: 100%;
}
.copyRight{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.iconWrapper{
  display: flex;
  align-items: center;
  gap: 3px;
}