.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #f8f9fa;
    color: #000;
    h1{
        padding-left: 30px;
    }
    .header{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding-right: 10%;
        .menu{
            font-size: 20px;
            padding: 15px;
            &:hover{
                background-color: #000;
                border-radius: 6px;
                color: #FFF;
            }
          

        }
        .activeMenu{
            background-color: #000;
            border-radius: 6px;
            color: #FFF;
        }

    }
}